:root {
  --gry1: #f2f2f2;
  --gry2: #ddd;
  --gry3: #5e5e5e;
  --gry4: #474747;
  --peach: #e3a474;

  --logo: #d76d4cff;


  --shade-10: var(--peach);
  --shade-1: #dfdbd7;
  --shade-0: #fff;
  --teal: var(--peach);
  --slider-thumb: #ff882e;
}



html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--gry1);
}

#map {
  height: 100%;
  float: left;
  width: 63%;
  height: 100%;
}

#day-num{
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: calc(2vh + 10px);
  margin: 0 1.5% 0;
  padding: 1.5% 0 0.75%;
  border-bottom: 2px solid var(--gry3);
  margin-bottom: 1.5%;
}

#right-panel {
  float: right;
  width: 34%;
  height: 80vh;
  overflow-y: scroll;
  padding: 10px;
  background-color: white;
}

@media (min-height: 1000px) {
  #right-panel {
    height: 85vh;
  }
}

@media (max-height: 1000px) {
  #right-panel {
    height: 80vh;
  }
}

@media (max-height: 750px) {
  #right-panel {
    height: 70vh;
  }
}

@media (max-height: 500px) {
  #right-panel {
    height: 60vh;
  }
}

@media (max-height: 250px) {
  #right-panel {
    height: 50vh;
  }
}

#errors{
  /*height: 10%;*/
  /*min-height: 80px;
  max-height: 150px;*/
  padding: 10px;
  display: flex;
  flex-direction: row;
  font-family: "Work Sans", sans-serif;
  padding-left: 1.5%;
  width: 20vw;
  float: left;
  margin-top: 15px;
}

#status{
  font-weight: bold;
  font-size: calc(0.5vw + 10px);
  padding-right: 5px;
}

#message{
  font-weight: regular;
  font-size: calc(0.5vw + 10px);
}

#pagination{
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.pager{
  width: calc(1vw + 10px);
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;

  -webkit-transition: background-color 0.2s
}

.pager:hover{
  -webkit-background-color: var(--gry2);
  background-color: var(--gry2);
}

.adp{
  color: green;
  border-color: green;
}

.adp-text{
  color: var(--logo) !important;
  font-weight: bold;
}

.adp-placemark{
  background: #efefef !important;
  border: none !important;
}

.adp-substep{
  color: var(--gry3) !important;
}

tr{
  border-bottom: 2px solid #eee !important;
  border-color: #eee !important;
}
