/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');*/

:root {
	--gry1: #f2f2f2;
	--peach: #e3a474;
}

* {
    font-family: 'Work Sans', sans-serif;
}

body{
	margin: 0;
	width: 100%;
	height: 100%;
}

.par{
    position: relative;
	display: flex;
	flex-direction: row;

	/*display: -webkit-box;*/
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.left{
	display: flex;
	flex-direction: row;
	display: inline-block;
	width: 70%;
	height: 100vh;
	background-color: var(--gy1);
}

.right{
	display: flex;
	flex-direction: row;
	display: inline-block;
	width: 30%;
	height: 100vh;
	background-color: var(--peach);
}