<!DOCTYPE html>
<html>
    <head>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQStAxxL0wjGxNFPIixAsjHwXRbRVhmkg&callback=initMap&libraries=&v=weekly"
            defer></script>
        <link href="{{ url_for('static',filename='css/directions.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ url_for('static',filename='js/directions&instructions.js') }}"></script>
    </head>
    <body>
        <!-- <img src="{{ url_for('static',filename='img/transit.png') }}">lmao</img> -->
        <div id="map"></div>
        <div id="right">
            <div id="right-panel"></div>
            <<!-- div id="errors">
                <span id="status">STATUS: </span>
                <span id="message">status message here</span>
            </div> -->
        </div>
    </body>
</html> 