<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='img/favicon.png') }}"/>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQStAxxL0wjGxNFPIixAsjHwXRbRVhmkg&callback=initMap&libraries=&v=weekly"
            defer></script>
        <link href="{{ url_for('static',filename='css/directions.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ url_for('static',filename='js/directions&instructions.js') }}"></script>
        <script>
            var data = JSON.parse('{{ data | tojson | safe}}');
            pass_to_script(data);
        </script>
    </head>
    <body onload="onloadPager()">
        <!-- <img src="{{ url_for('static',filename='img/transit.png') }}">lmao</img> -->
        <div id="map"></div>
        <div id="right">
            <span id="day-num">DAY</span>
            <div id="right-panel"></div>
            <div id="errors">
                <span id="status">STATUS: </span>
                <span id="message"></span>
            </div>
            <div id="pagination" >
                <img class="pager" id="page-left" src="{{ url_for('static',filename='img/page-left.svg') }}" onclick="pageLeft()">
                <img class="pager" id="page-right" src="{{ url_for('static',filename='img/page-right.svg') }}" onclick="pageRight()">
            </div>
        </div>
    </body>
</html> 