<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/jpg" href="{{ url_for('static',filename='img/favicon.png') }}"/>
		<title>velo</title>
		<link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" type="text/css"/>
		<link href="{{ url_for('static',filename='css/slider.css') }}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
		
		<div class="par">
			<div class="left">
				<div class="top">

					<div class="param">
						<span class="label">TIME</span>
						<span class="expl">(days)</span>

						<input class="option" id="time" placeholder="Enter days" type="number" min = "1" max = "14">
					</div>

					<div class="param">
						<span class="label">ACCOMODATION</span> 
						<span class="expl">(stars)</span>

						<form method = "POST" action = "#" name="myForm" onclick ="return false">
						  	<div class="range-slider">
						    	<input class="range-slider__range" type="range" value="40" min="0" max="100" name="slider1" id="slider1">
						    	<span class="range-slider__value">0</span>
						  	</div>
						</form>
						<script src="{{ url_for('static',filename='js/slider.js') }}"></script>
					</div>

					<div class="param">
						<span class="label">METHODS</span>
						<span class="expl">(transportation)</span>
						<img class="transit-method" src="{{ url_for('static',filename='img/walk.png') }}">
						<img class="transit-method" src="{{ url_for('static',filename='img/transit.png') }}">
						<img class="transit-method" src="{{ url_for('static',filename='img/car.png') }}">
						<script src="{{ url_for('static',filename='js/script.js') }}"></script>
					</div>

				</div>
				<div class="bot">
					<div class="title">
						<div class="top-left">
							<span class="label">LOCATIONS</span>
							<span class="expl">(time spent per)</span>
						</div>
						<div class="top-right">
							<input class="searchbar" id="auto" placeholder="Enter place" type="text" />
						</div>
					</div>

					<div class="results" id="results">
						<script id="repeat">
							<form method = "POST" action = "#" name="myForm">
							  	<div class="range-slider">
							    	<input class="range-slider__range" type="range" value="40" min="0" max="100">
							    	<span class="range-slider__value">0</span>
							  	</div>
							</form>
						</script>
						<script src="{{ url_for('static',filename='js/slider.js') }}"></script>
					</div>

					<script src="{{ url_for('static',filename='js/autocomplete.js') }}"></script>
					<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQStAxxL0wjGxNFPIixAsjHwXRbRVhmkg&libraries=places&callback=initAutocomplete" async defer>
					</script>
					
				</div>
			</div>
			<div class="right">
				<div id="map"></div>
				<div class="center">
					<img class="logo" src="{{ url_for('static',filename='img/velo-logo.png') }}">
					<span class="velo">velo</span>
					
				</div>
				<form class="submit-button" method = "POST" action = "#" name="myForm">
					<input type="submit" value="GENERATE!" id="submit"/>
				</form>
			</div>
		</div>
	</body>
</html>